.spinner-border {
  animation-duration: 3s !important;
}

#switcher {
  top: 10px !important;
}

#tempValue::-webkit-inner-spin-button, 
#tempValue::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}
